<ion-header>
  <ion-toolbar>
    <ion-title>Add New Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/freezer-details/' + freezerId"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add-item-content">
  <div class="form-container">
    <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" formControlName="quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Weight (optional)</ion-label>
        <ion-input type="number" formControlName="weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Food Type</ion-label>
        <ion-select formControlName="foodTypeId">
          <ion-select-option *ngFor="let foodType of foodTypes$ | async" [value]="foodType.id">
            {{ foodType.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!newItemForm.valid" class="submit-button">
        <ng-container *ngIf="!isLoading; else loading">Add Item</ng-container>
        <ng-template #loading>
          <ion-spinner name="circular"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>
  </div>
</ion-content>
