<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New Freezer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="add-freezer-content">
  <div class="form-container">
    <form (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Freezer Name</ion-label>
        <ion-input [(ngModel)]="name" name="name" type="text" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" class="submit-button" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading; else loading">
          Add Freezer
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="circular"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>
  </div>
</ion-content>
