<ion-content class="register-content">
  <div class="register-container">
    <h1>Frost Mind</h1>
    <form (ngSubmit)="register()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" type="submit" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading; else loading">
          Register
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="circular"></ion-spinner>
        </ng-template>
      </ion-button>
      <ion-button expand="block" fill="clear" routerLink="/login">Sign In</ion-button>
    </form>
  </div>
</ion-content>
