<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Food Type</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage-food-types"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="foodTypeName" name="name" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Expiration Months</ion-label>
        <ion-input [(ngModel)]="expirationMonths" name="expirationMonths" required type="number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Add</ion-button>
  </form>
</ion-content>
