<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Freezer {{ freezer?.name! }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addNewItemToFreezer(freezer?.id!)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="freezer-content">
  <ion-list>
    <ion-card *ngFor="let item of freezer?.foodItems">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Quantity: {{ item.quantity }}</p>
        <div class="action-buttons">
          <ion-button color="primary" (click)="takeItemOut(item.id, freezer?.id!)">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Take Out
          </ion-button>
          <ion-button color="danger" (click)="disposeItem(item.id, freezer?.id!)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Throw Away
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToManageFreezerAccess(freezer?.id!)">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
